* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html {
  height: 100vh;
  font-size: 62.5%;
  background: url(../img/timer.jpg) no-repeat center center; 
  background-size: cover;
}

body {
  height: 100%;
  display: flex;
}

.main {
  display: flex;
  margin: auto;
}

h1 {
  margin: .5rem;
  text-align: center;
}

p {
  margin: .5rem;
  text-align: center;
}

.clock {
  font-size: 3em;
}

.paused {
  color: rgb(245, 90, 90);
}

.container {
  width: 30rem;
  height: 30rem;
  background-color: #ffffffff;
  border-radius: 50%;
  margin: auto;
}

.result {
  display: flex;
  width: 100%;
  justify-content:space-around;
}
  
input {
  display: block;
}